.outlined-basic{
    font-size: 14px;
    font-family: 'Red Rose', serif;
    width: 170px;
    padding: 4px;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 0px;
}

.outlined-basic::placeholder{
  color:rgb(179, 179, 179);
}

.custom-button3{
    background-color: blueviolet;
    padding: 4px;
    font-size:14px;
    color: aliceblue;
    font-family: 'Red Rose', serif!important;
    border: 2px solid black ;
    cursor:pointer;
    margin-left:5px;
}

.outlined-basic-cadas{
    font-size: 13px;
    font-family: 'Red Rose', serif;
    width: 170px;
    padding: 6px;
    margin: 3px 6px 4px 0px;
    border: 2px solid rgb(0, 0, 0);
}

.user-config{
    font-family: 'Red Rose', serif;
    font-weight: 900;
}

.table-config{
    font-family: 'Red Rose', serif; 
}

.css-1ndpvdd-MuiTableCell-root{
    font-family: 'Red Rose', serif!important;
    font-weight: 600!important;
    font-size: 17px!important;
}

.css-1ex1afd-MuiTableCell-root{
    font-family: 'Red Rose', serif!important;
    font-size: 15px!important;
}

.css-rqglhn-MuiTable-root {
    border: solid black;
    min-width: 867.64px;
}

.css-1ex1afd-MuiTableCell-root{
    border: 1px solid black!important;
    padding: 12px;
}

.button-custom-search{
    border:none;
    background: none;
    width: 40px!important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 0px 0px 5px!important;
}

.css-1ndpvdd-MuiTableCell-root, .css-1ygcj2i-MuiTableCell-root, .css-1q1u3t4-MuiTableRow-root{
    border-bottom: 1px solid rgb(0, 0, 0)!important;
}

.config-space-search{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.custom-link{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.custom-select{
    font-size: 13px;
    font-family: 'Red Rose', serif;
    width: 20px;
    padding: 3px;
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
}

.config-space-general{
    display: flex;
}

.config-space-button{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box-config{
    font-family: 'Red Rose', serif;
    text-align: center;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between ;
    flex-direction: column;
}


