#outlined-basic{
    font-size: 12px;
    background-color: aliceblue;
    
}

.user-config{
    font-family: 'Red Rose', serif;
    font-weight: 900;
}

.table-config{
    font-family: 'Red Rose', serif; 
}

.css-1ndpvdd-MuiTableCell-root{
    font-family: 'Red Rose', serif!important;
    font-weight: 600!important;
    font-size: 17px!important;
}

.css-1ex1afd-MuiTableCell-root{
    font-family: 'Red Rose', serif!important;
    font-size: 15px!important;
}

.css-rqglhn-MuiTable-root {
    border: solid black;
}

.css-1ex1afd-MuiTableCell-root{
    border: 1px solid black!important;
    padding: 12px;
}