.body {
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    font-family: 'Red Rose', cursive;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
}
  
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    width: 100%;
    max-width: 500px;
    max-height: 550px;
}
  
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 90%; 
}
  
label {
    margin-bottom: 10px;
}
  
input[type="text"], select {
    margin-top: 5px;
    width: 170px; 
}
  
.button-custom-enviar{
    font-family: 'Red Rose', cursive;
    background-color: orange; 
    border: none; 
    color: white; 
    padding: 10px 10px; 
    text-decoration: none;
    border-radius: 20px;
    width: 120px;
    height: 60px;
    cursor: pointer; 
    font-weight: bold;
    font-size: 15px; 
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
}

.config-space-listar{
    min-width: 900px;
}

.custom-button4{
    background-color: blueviolet;
    padding: 4px;
    font-size:14px;
    color: aliceblue;
    font-family: 'Red Rose', serif!important;
    border: 2px solid black ;
    cursor:pointer;
    margin-left:5px;
}

.custom-link-ficha{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.custom-main-ficha{
    font-family: 'Red Rose', serif!important;
}

.outlined-basic2{
    font-size: 13px;
    font-family: 'Red Rose', serif;
    padding: 4px;
    border: 2px solid rgb(0, 0, 0);
}

.table-config-ficha{
    font-family: 'Red Rose', serif; 
}

.css-1ygcj2i-MuiTableCell-root {
    font-family: 'Red Rose', serif!important;
    font-weight: 600!important;
    font-size: 17px!important;
}

.css-1ex1afd-MuiTableCell-root{
    font-family: 'Red Rose', serif!important;
    font-size: 15px!important;
}

.css-rqglhn-MuiTable-root {
    border: solid black;
    min-width: 900px;
}

.css-1ex1afd-MuiTableCell-root{
    border: 1px solid black!important;
    padding: 8px!important;
}
