html,
body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/3DeT-fundo-opacidade\ 1.png");
  /* Ajuste a altura para cobrir a altura da janela do navegador */
  background-size: cover;
  /* Redimensiona a imagem para cobrir a área completa */
  background-repeat: no-repeat;
  background-position: center;
  mix-blend-mode: multiply;
  /* Outros estilos, se necessário */
}

.app-custom {
  height: 100vh;
  background: #FDB100;
  display: flex;
}

.space-configure{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.det-custom-logo {
  width: 200px; /* ajuste o tamanho conforme necessário */
  animation: balancarZoom 2s infinite ease-in-out;
}

@keyframes balancarZoom {
  0%, 100% {
    transform: rotate(0deg) scale(0.9);
  }
  50% {
    transform: rotate(2deg) scale(1);
  }
}

.container {
  position: relative;
  height: 100%;
}


.espada {
  width: 100px;
  height: 200px;
  background: url('./assets/espada.svg')cover; /* Substitua pelo caminho da sua imagem */
  position: absolute;
  animation: chuvaEspadas linear infinite;
}

@keyframes chuvaEspadas {
  to {
    transform: translateY(100vh);
  }
}



/* .space-config{
  
} */